 .section {
	border: solid black 1px;
	height: 500px;
}

#containingDiv {
  text-align: center;
  margin-top: 5%;
}

.box {
	display: inline-block;
  margin-left: 10px;
  max-width: 370px;
}

#logo {
	max-height: 23px;
}

#container1 {
	height: 70px;
}

#container7 {
	height: 400px;
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

#yellowBanner {
	height: 100%;
}